Node Red/.flows_raspberrypi.json.backup
[{"id":"cfcc2253.2c1c7","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d306a403.c73478","type":"zigbee-shepherd","z":"","name":"zigbee herdsman","path":"/dev/ttyACM0","baudRate":"115200","rtscts":true,"channelList":[25],"led":"disabled"},{"id":"87880319.d0a13","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"1a228437.98896c","type":"twitter-credentials","z":"","screen_name":"BeastZig"},{"id":"604ec7cf.d363a8","type":"zigbee-converter","z":"cfcc2253.2c1c7","shepherd":"d306a403.c73478","name":"HueLamp","topic":"zigbee/daanjonas","settopic":"zigbee/${name}/set","gettopic":"zigbee/${name}/get","device":"0x00178801061ec49d","attribute":"","payload":"plain","x":500,"y":520,"wires":[["1fa143c2.ddc7e4"]]},{"id":"1fa143c2.ddc7e4","type":"debug","z":"cfcc2253.2c1c7","name":"Logger","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"true","targetType":"full","x":760,"y":600,"wires":[]},{"id":"39ad94e4.cc3804","type":"zigbee-converter","z":"cfcc2253.2c1c7","shepherd":"d306a403.c73478","name":"HTTP set state","topic":"zigbee/daanjonas","settopic":"zigbee/${name}/set","gettopic":"zigbee/${name}/get","device":"0x00178801061ec49d","attribute":"","payload":"plain","x":520,"y":600,"wires":[["1fa143c2.ddc7e4"]]},{"id":"f3699815.fcbfa","type":"http in","z":"cfcc2253.2c1c7","name":"HTTP POST","url":"/set","method":"post","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["c41165e9.14d408"]],"icon":"node-red/arrow-in.svg"},{"id":"c41165e9.14d408","type":"function","z":"cfcc2253.2c1c7","name":"","func":"var newMsg = {topic: \"zigbee/daanjonas\", payload: msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":600,"wires":[["39ad94e4.cc3804"]]},{"id":"172b28ec.da7667","type":"function","z":"cfcc2253.2c1c7","name":"","func":"var newMsg = {topic: \"zigbee/daanjonas\", payload: msg.payload };\nreturn newMsg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["604ec7cf.d363a8"]]},{"id":"c22b5253.9b627","type":"twitter in","z":"cfcc2253.2c1c7","twitter":"1a228437.98896c","tags":"@BeastZig","user":"user","name":"ReadTweets","inputs":1,"x":170,"y":520,"wires":[["172b28ec.da7667","1fa143c2.ddc7e4"]]}]